@import '@legends/styles/base.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 17.3125rem;
  height: 13.375rem;
  background-color: $neutral-700;
  border-radius: 1rem;
  transition: all 0.1s ease;

  border: 0.0625rem solid rgba($neutral-600, 0.2);

  &:not(.disabled) {
    cursor: pointer;

    &:hover {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: content-box;
        width: calc(100%);
        height: calc(100%);
        border: 0.125rem solid transparent;
        z-index: 0;
        background-clip: padding-box, border-box;
        background-color: $neutral-700;
        background-origin: padding-box, border-box;
        background-image: linear-gradient($secondaryBackground, $secondaryBackground),
          linear-gradient(101.08deg, #b082ff 8.27%, #5f02ff 96.34%);

        border-radius: 1rem;
      }

      .content {
        .image {
          opacity: 1;
        }

        .backgroundEffect {
          opacity: 1;
        }
      }
    }
  }

  &.disabled .overlay {
    background-color: #191a1f80;
  }
  &.disabled {
    .content {
      opacity: 0.5;
    }
  }

  .overlay {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.875rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.25rem;
    z-index: 10;
    border-radius: 1rem;
    user-select: none;
    text-align: center;

    .overlayTitle {
      font-size: 2rem;
      font-weight: 400;
      color: $mainText;
      line-height: 100%;
    }

    .disabledIcon {
      path:first-child {
        fill: $red-400;
        stroke: $red-400;
      }

      path:nth-child(2) {
        fill: $neutral-700;
      }
    }

    .overlayText {
      display: block;
      font-size: 0.875rem;
      font-weight: 400;
      color: rgba($mainText, 0.6);
      line-height: 1.125rem;
    }
  }

  .content {
    flex: 1;
    background-color: $neutral-700;
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1.25rem 1.5rem;
    border-radius: 1rem;
    overflow: hidden;

    .heading {
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 0.25rem;
      padding-top: 1.5rem;
      width: 10.9375rem;
      line-height: 1.5rem;
      height: 7.875rem;
      z-index: 2;
    }

    // Used for the hover effect on the card
    .backgroundEffect {
      transition: opacity 0.2s ease;
      position: absolute;
      top: 0;
      right: 0;
      height: 9.375rem;
      width: 9.375rem;
      opacity: 0;
      z-index: 0;
    }

    .image {
      position: absolute;
      bottom: -0.75rem;
      right: 0;
      z-index: 1;
      opacity: 0.3;
      transition: opacity 0.1s ease;
      height: 11.875rem;
      width: auto;
    }

    .rewardsHeading {
      line-height: 1.25rem;
      margin-bottom: 0.5rem;
      font-family: $secondaryFont;
      font-size: 0.875rem;
      color: $secondaryText;
      font-weight: 400;

      .repeatableIcon {
        display: inline;
        color: $secondaryText;
      }
    }

    .rewards {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: $tertiaryBackground;
      border-radius: $primaryBorderRadius;
      padding: 0.563rem 0.5rem;
      margin-bottom: 1.5rem;
    }
  }

  @include breakpoint-down-from(tablet) {
    width: 100%;
    .content {
      .image {
        width: 9.375rem;
        height: 100%;
      }
    }
  }
}

.disabled {
  cursor: not-allowed;
}
