@import '@legends/styles/base.scss';

.wrapper {
  position: relative;
  margin-bottom: 2.625rem;

  .accordionDropdown {
    color: $secondaryText;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    white-space: pre-wrap;
  }
}

.accordionWrapper {
  background-color: $neutral-700 !important;
}

.accordionTitle {
  font-size: 1.25rem !important;
}
