<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>ALWAYS</string>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>45000</integer>
    <key>EXUpdatesRuntimeVersion</key>
    <string>3.16.0</string>
    <key>EXUpdatesURL</key>
    <string>https://u.expo.dev/58802506-2680-49c2-a7a2-3af290426f05</string>
  </dict>
</plist>