@import '@legends/styles/base';

.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 3rem 0 2.875rem;
  gap: 0.75rem;

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($whiteText, 0.05);
    width: 7.5rem;
    position: relative;
    border-radius: 0.5rem;
  }

  .trophy {
    width: 2.125rem;
    height: auto;
    margin-bottom: 0.75rem;
  }

  .contentWrapper {
    position: relative;
    border-radius: 0.5rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    top: -1.25rem;
  }

  .currentUserWrapper {
    display: flex;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    flex-wrap: wrap;
    justify-content: center;

    .currentUserContentWrapper {
      display: flex;

      .name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 5.625rem;
      }
    }
  }

  .xp {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: auto;
  }

  .name {
    font-size: 0.75rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    line-height: 1rem;
    color: $primaryText;
  }

  .position1 {
    order: 2;
    height: 11.75rem;
    position: relative;
    z-index: 2;

    .xp {
      font-weight: 500;
      font-size: 1.75rem;
    }

    .xp,
    .name,
    .trophy {
      color: $goldDecorative;
    }
  }

  .position2 {
    order: 1;
    height: 8.125rem;
    position: relative;
    z-index: 4;
    border-right: none;

    .xp,
    .name,
    .trophy {
      color: $silverDecorative;
    }
  }

  .position3 {
    order: 3;
    height: 6.875rem;
    position: relative;
    z-index: 4;
    border-left: none;

    .xp,
    .name,
    .trophy {
      color: $bronzeDecorative;
    }
  }
}
