@import '@legends/styles/base.scss';

.wrapper {
  background-color: $neutral-900;
  border-radius: 0.5rem;
  padding-top: 0.75rem;
  padding: 1rem 2rem;

  margin-top: 1rem;
  border: 0.0625rem solid rgba($neutral-600, 0.2);

  .heading {
    .title {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25rem;
      color: $mainText;
    }
    &.nonExpandable {
      cursor: default;
    }
    display: flex;
    cursor: pointer;
    user-select: none;

    .chevronIcon {
      margin-left: auto;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      color: $secondaryText;
      width: 1rem;
      height: 1rem;

      &.open {
        transform: rotate(180deg);
      }
    }
  }
  .dropdown {
    border-radius: $primaryBorderRadius;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      margin-top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $secondaryText;

    & > * {
      min-height: 0;
    }

    &.open {
      margin-top: 0.5rem;
      grid-template-rows: 1fr;
    }
  }
}
