.liquidGlass {
  --glass-blur-amount: 4px;

  position: relative;
  display: flex;
  font-weight: 600;
  overflow: hidden;
  cursor: pointer;
  isolation: isolate;
  /* These come from injected styles */
  background: linear-gradient(135deg, var(--glass-tint-color-1) 0%, var(--glass-tint-color-2) 100%);

  backdrop-filter: blur(var(--glass-blur-amount));

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  box-shadow: inset 0px 0px 2px 1.5px var(--glass-shine-color);
  border-top-left-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: 0;
}
